<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cros.dao.mapper.ModuleMapper">
    <insert id="addModule" parameterType="Module" useGeneratedKeys="true" keyColumn="id">
      INSERT INTO t_module(parentId, title, detail, uid, createTime) VALUES
      (#{parentId}, #{title}, #{detail}, #{uid}, #{createTime})
    </insert>

    <select id="getModule" parameterType="int" resultType="Module">
        SELECT id, parentId, title, detail, uid, createTime FROM t_module WHERE id = #{id}
    </select>

    <select id="getsModule" resultType="Module">
        SELECT id, title FROM t_module
    </select>
</mapper>
