<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>富文本编辑器</title>
    <link href="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.gbtags.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/summernote.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div name="pager" id="editor" style="width: 100px;">
    abc
</div>
<button type="button" onclick="alertFunction()">submit</button>

<script src="http://cdn.gbtags.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/summernote.min.js"></script>
<script>
    $('#editor').summernote({
        onImageUpload: function (files, editor, $editable) {
            var formData = new FormData();
            formData.append('file',files[0]);
            $.ajax({
                url : 'upload',//后台文件上传接口
                type : 'POST',
                data : formData,
                processData : false,
                contentType : false,
                success : function(data) {

                }
            });
        }
    });
</script>
</body>
</html>